<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
<body>

    <header>
        <div class="logo">
            <img src="ff8i.png">
        </div>
       <div class="navDiv">
        <label for="menu">
            <i class="fa-solid fa-bars"></i>
        </label>
       </div>
        <input type="checkbox" id="menu">
        <ul class="nav">
            
            <label for="menu">
                <i class="fa-solid fa-xmark"></i>
            </label>
            <li><a href="#home">Home</a></li>
        </ul>
    </header>

    <div class="container">
        <div class="banner" id="home">
            <div class="content">
                <p>WELCOME TO MY PROFILE</p>
                <h1>
                    SAIF Web 🐉 <br/>
                    <div class="gradientText">
                        <div class="job" data-job1="{Hi im saif from khanaqin , i love python and my life .}">
                        </div>
                    </div>
                </h1>
            </div>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                 <ul>
                    <li>
                        <img src="video.gif" style="border-radius: 50%; width: 200px; height: 200px;">
                    </li>
                 </ul>
                </h1>
                
                <div class="find">
                    <h3>حساباتي</h3>
                    <ul>
                        <a href="https://t.me/S_Z_H"><i class="fa-brands fa-telegram"></i></a>
                        <a href="https://instagram.com/y26_v?igshid=YmMyMTA2M2Y="><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.tiktok.com/@d7e9?_t=8bW419CVSVi&_r=1"><i class="fa-brands fa-tiktok"></i></a>
                    </ul>
                </div>
            </div>
        </div>
        <head>
            <script src="script.js"></script>
           
        </head>
</body>
</html>
